body {
  box-sizing: border-box;
  font: 15px/1.5 helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: lightgrey;
}

.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}


/* Header */

header {
  background-color: rgb(20, 20, 20);
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #eb009f solid 3px;
}

header a {
  color: white;
  text-decoration: none;
  text-transform:  uppercase;
  font-size: 16px;
}

header li {
  float: left;
  list-style-type: none;
  min-width: 50px;
  padding: 0 20px;
  text-decoration: none;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .current a, header .highlight {
  color: #eb009f;
  font-weight: bold;
}

header a:hover {
  color: grey;
}


/* Showcase */

#showcase {
  min-height: 400px;
  background: url("./img/showcase.jpeg") no-repeat 0px -125px;
  background-size: cover;
  text-align: center;
  color: white;
}

#showcase h1 {
  margin-top: 100px;
  margin bottom: 100px;
  font-size: 55px;
}

#showcase p {
  font-size: 20px;
  font-weight: bold;
}

/* Midbreak */

#midbreak {
  min-height: 50px;
  background-color: rgb(20, 20, 20);
  text-align: center;
  border-top: solid 3px #eb009f;
  border-bottom: solid 3px #eb009f;
}

#midbreak p {
  color: white;
  font-style: italic;
  padding: 10px 0;
}


/* Overview */

#overview {
  margin-top: 20px;
}

/*
#overview .box {
  float: left;
  width: 30%;
  margin: 10px;
  text-align: center;
  border: 1px #9E0D87 solid;
  background: #9E0D87;
  border-radius: 10px;
}
*/

#overview .box {
  background-color: rgb(195, 0, 119);
  color: white;
  border-radius: 10px;
}

#overview .grid {
  display: grid;
  width: 80%;
  grid-template: 1fr / repeat(3, 1fr);
  grid-gap: 10px;
  margin: 20px auto;
  grid-template-areas: "a b c";
  text-align: center;
}

#overview #a {
  grid-area: a;
}

#overview #b {
  grid-area: b;
}

#overview #c {
  grid-area: c;
}

/* Footer */

footer {
  padding: 20px;
  margin-top: 20px;
  color: white;
  background-color: rgb(20, 20, 20);
  border-top: #eb009f 3px solid;
  text-align: center;
}


/* Media Queries */

@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li {
    float: none;
    text-align: center;
    width: 100%;
  }

  header nav li {
    padding: 0;
  }

  header {
    padding-bottom: 20px;
  }


  #showcase h1 {
    margin-top: 40px;
  }

  #overview .grid {
    grid-template: repeat(3, 1fr) / 1fr;
    grid-template-areas: "a"
                         "b"
                         "c";
    width: 95%;
  }

/*
  #overview .box {
    float: none;
    text-align: center;
    width: 95%;
    margin: 10px auto;
  }
*/
}